* { margin: 0; padding: 0; background-color: white; }
body { font: 16px Arial, Helvetica, sans-serif; }
#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid; padding: 1%;
margin-bottom: 1px; color: black;}
section { padding: 20px; background: #eee; overflow: scroll;}
header, nav, section { background: #eee; text-align: center;}
footer { background: #eee; text-align: center;}
nav span { margin: 0px 10px 0px 0px;
    display: inline-block;
	width: 100%;
}
#ErrorMsgs { color:#f61;font-size: smaler;}
.right {float: right;}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	padding: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color: #EAEAEA;
}
a:hover {
	color: #FFF;
	background-color: #666;
	border-right-width: 5px;
	border-right-style: solid;
	border-right-color: #45C0CC;
}
