<form style="background: #eee" method="get" action="/quizes/<%= quiz.id %>/answer">
    <%= quiz.pregunta %><p style="background: #eee">
    <input type="text" name="respuesta" value="Respuesta"/>
    <input type="submit" value="Enviar">
</form>
